
        <!--Loader  -->
        <div class="loader"><i class="fa fa-refresh fa-spin"></i></div>
        <!--LOader end  -->
        <!--================= main start ================-->
        <div id="main">
            <!--=============== header ===============-->	
            
            <!--=============== wrapper ===============-->
            <div id="wrapper">
                <!--=============== Conten holder  ===============-->
                <div class="content-holder elem scale-bg2 transition3" >
                    <!--=============== Content  ===============-->
                    <div class="content full-height">
                        <!-- <div class="fixed-title"><span>Portfolio</span></div> -->
                        <!-- Portfolio counter  -->	
                        <div class="count-folio">
                            <div class="num-album"></div>
                            <div class="all-album"></div>
                        </div>
                        <!-- Portfolio counter end -->	
                        <!-- <div class="filter-holder column-filter">
                            <div class="filter-button">Filter <i class="fa fa-long-arrow-down"></i></div>
                            <div class="gallery-filters hid-filter">
                                <a href="#" class="gallery-filter transition2 gallery-filter_active" data-filter="*">All Albums</a>
                                <a href="#" class="gallery-filter transition2" data-filter=".people">People</a>
                                <a href="#" class="gallery-filter transition2" data-filter=".nature">Nature</a>
                                <a href="#" class="gallery-filter transition2" data-filter=".comercial">Comercial</a>
                                <a href="#" class="gallery-filter transition2" data-filter=".travel">Travel</a>
                            </div>
                        </div> -->
                        <!--=============== portfolio holder ===============-->
                        <div class="resize-carousel-holder">
                            <div class="p_horizontal_wrap">
                                <div id="portfolio_horizontal_container">
                                    <!-- portfolio item -->
                                    <div class="portfolio_item people comercial">
                                        <img  src="http://res.cloudinary.com/dm3jnl0jy/image/upload/c_scale,h_1070,w_1600/v1445050658/AA020_eyjcop.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Corregidor</a></h3>
                                                    <span>Abandoned</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Quisque non augue</a></h3>
                                                <span><a href="#">Travel</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div> -->
                                    </div>
                                    <!-- portfolio item end -->
                                    <!-- portfolio item -->
                                    <div class="portfolio_item travel nature">
                                        <img  src="http://res.cloudinary.com/dm3jnl0jy/image/upload/c_scale,h_1070,w_1600/v1445053701/048586-R3-08-8_cpshoo.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Teufelsberg</a></h3>
                                                    <span>Abandoned</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Curabitur bibendum</a></h3>
                                                <span><a href="#">Abandoned</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div> -->
                                    </div>
                                    <!-- portfolioitem end -->
                                    <!-- portfolio item -->
                                    <div class="portfolio_item Abandoned">
                                        <img  src="http://res.cloudinary.com/dm3jnl0jy/image/upload/c_scale,h_1070,w_1600/v1445060176/IMG_9819_qmsjcm.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Nagorno - Karabagh</a></h3>
                                                    <span>Abandoned</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Adipiscing elit</a></h3>
                                                <span><a href="#">Abandoned</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div> -->
                                    </div>
                                    <!-- portfolio item end -->                             
                                    <!-- portfolio item -->
                                    <div class="portfolio_item nature comercial">
                                        <img  src="http://res.cloudinary.com/dm3jnl0jy/image/upload/c_scale,h_1070,w_1600/v1445050662/AA024_sumxqm.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Oradour</a></h3>
                                                    <h3><a href="portfolio-single.html">sur</a></h3>
                                                    <h3><a href="portfolio-single.html">Glane</a></h3>
                                                    <span>Abandoned</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Nam sagittis pretium</a></h3>
                                                <span><a href="#">Abandoned</a> / <a href="#">Nature</a></span>
                                            </div>
                                        </div> -->
                                    </div>
                                    <!-- portfolioitem end -->
                                    <!-- portfolio item -->
                                    <div class="portfolio_item Abandoned comercial">
                                        <img  src="http://res.cloudinary.com/dm3jnl0jy/image/upload/c_scale,h_1070,w_1600/v1445050461/AA004_qv3c2u.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Atlantic Wall</a></h3>
                                                    <span>Abandoned</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Nam gravida</a></h3>
                                                <span><a href="#">Abandoned</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div> -->
                                    </div>
                                    <!-- portfolio item end -->
                                    <!-- portfolio item -->
                                    <div class="portfolio_item Abandoned comercial">
                                        <img  src="http://res.cloudinary.com/dm3jnl0jy/image/upload/c_scale,h_1070,w_1600/v1445058930/IMG_3233_ekmxlm.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Maginot line</a></h3>
                                                    <span>Abandoned</span>
                                                </div>
                                            </div>
                                        </div>
                                       <!--  <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Justo tortor</a></h3>
                                                <span><a href="#">Abandoned</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div> -->
                                    </div>
                                    <!-- portfolio item end -->                                    
                                    <!-- portfolio item -->
                                    <div class="portfolio_item people nature">
                                        <img  src="http://res.cloudinary.com/dm3jnl0jy/image/upload/c_scale,h_1070,w_1600/v1445050460/AA026_n549vm.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Terra Encantada</a></h3>
                                                    <span>Abandoned</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Integer euismod</a></h3>
                                                <span><a href="#">Abandoned</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div> -->
                                    </div>
                                    <!-- portfolio item end -->                            
                                    <!-- portfolio item -->
                                    <div class="portfolio_item Abandoned nature">
                                        <img  src="http://res.cloudinary.com/dm3jnl0jy/image/upload/c_scale,h_1070,w_1600/v1445050659/AA008_tsjxrf.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Rio Bonito</a></h3>
                                                    <span>Abandoned</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Donec nulla purus</a></h3>
                                                <span><a href="#">Abandoned</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div> -->
                                    </div>
                                    <!-- portfolio item end -->                                            
                                    <!-- portfolio item -->
                                   <div class="portfolio_item people nature">
                                        <img  src="http://res.cloudinary.com/dm3jnl0jy/image/upload/c_scale,h_1070,w_1600/v1445053712/048586-R3-16-17_i2gwjh.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Georgia's E60 Hwy</a></h3>
                                                    <span>Abandoned</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Maecenas vitae semper</a></h3>
                                                <span><a href="#">Abandoned</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div> -->
                                    </div>
                                
                                    <div class="portfolio_item people comercial">
                                        <img  src="http://res.cloudinary.com/dm3jnl0jy/image/upload/c_scale,h_1070,w_1600/v1445047971/AA002_rjjwkm.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Belgrade</a></h3>
                                                    <span>Abandoned</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Proin iaculis felis </a></h3>
                                                <span><a href="#">Abandoned</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div> -->
                                    </div>

                                    
                                    <div class="portfolio_item people comercial">
                                        <img  src="http://res.cloudinary.com/dm3jnl0jy/image/upload/c_scale,h_1070,w_1600/v1445057448/IMG_0302_kre0it.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Proin iaculis felis </a></h3>
                                                    <span>Abandoned</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Proin iaculis felis </a></h3>
                                                <span><a href="#">Abandoned</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div> -->
                                    </div>
                                     <!-- <div class="portfolio_item people comercial">
                                        <img  src="http://res.cloudinary.com/dm3jnl0jy/image/upload/c_scale,h_1070,w_1600/v1445053706/048586-R3-10-11_pka2jg.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Proin iaculis felis </a></h3>
                                                    <span>Abandoned</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Proin iaculis felis </a></h3>
                                                <span><a href="#">Abandoned</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portfolio_item people comercial">
                                        <img  src="http://res.cloudinary.com/dm3jnl0jy/image/upload/c_scale,h_1070,w_1600/v1445053687/048586-R3-03-3_m6judi.jpg"   alt="">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="overlay"></div>
                                                <div class="grid-item">
                                                    <h3><a href="portfolio-single.html">Proin iaculis felis </a></h3>
                                                    <span>Abandoned</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="port-subtitle-holder">
                                            <div class="port-subtitle">
                                                <h3><a href="portfolio-single.html">Proin iaculis felis </a></h3>
                                                <span><a href="#">Abandoned</a> / <a href="#">Photography</a></span>
                                            </div>
                                        </div>
                                    </div> -->


                                 
                                    <!-- portfolio item end -->                                            
                                </div>
                                <!--portfolio_horizontal_container  end-->        
                            </div>
                            <!--p_horizontal_wrap  end-->                    
                        </div>
                    </div>
                    <!-- Content end  -->  
                    <!-- Share container  -->    
                    <div class="share-container  isShare"  data-share="['facebook','pinterest','googleplus','twitter','linkedin']"></div>
                </div>
                <!-- content holder end -->
            </div>
            <!-- wrapper end -->
            <div class="left-decor"></div>
            <div class="right-decor"></div>

            
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script type="text/javascript" src="../js/plugins.js"></script>
        <script type="text/javascript" src="../js/scripts.js"></script>
